/* .rating{
    border:0.5px;
    color: #fff;
    background-color: #388E3C;
    width: 50px;
    border-radius: 5px;
} */
.bi{
    font-size: 13px !important;
}
.productTitle, .card-subtitle{
    color: black;
    text-decoration: none;
}

.rating{
    /* position:absolute; */
    /* justify-content: center; */
    text-align: center;
    line-height: normal;
    display: inline-block;
    color: #fff;
    padding: 2px 4px 2px 6px;
    border-radius: 3px;
    font-weight: 500;
    font-size: 12px;
    vertical-align: middle;
    background-color: #388e3c;

}